
    <div class="col s4">
            <!-- Content 1 goes here -->
            <div class="card manager-card">
                <div class="card-header center">
                    <h2 class="card-title"> name </h2>
                    <h3 class="card-title"><i class="fas fa-glasses mr-2"></i> role </h3>
                </div>
                <div class="card-body">
                    <div class="card-content grey lighten-4">
                        <div class="list-group-item" id="ID"> ID: id  </div>
                            <div class="list-group-item" id="Email">Email: <a href="mailto:{{ email }}"> email </a> </div>
                                <div class="list-group-item" id="contact">Office: <a href="tel:{{ office }}" target="_blank" rel="noopener noreferrer"> office </a> </div>
                                </div>
                            </div>
                        </div>
                   
